<div class="panel panel-default" ng-repeat="movie in movies">
    <div ng-click="showDetails = ! showDetails" class="panel-heading">
        <div class="panel-title">
            {{movie.name}} ({{movie['year-released']}})
        </div>
    </div>
    <div ng-show="showDetails" class="panel-body">
        Details:
        <br/>id: {{movie.id}}
        <br/>Trailer:
        <br/>
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item"
                    width="330"
                    height="220"
                    ng-src="{{ movie['trailer-link'] }}"
                    allowfullscreen>
            </iframe>
        </div>
    </div>
</div>